body {
  background-color: #1e1e1e;
  color: #948362;
}


table {
  width: 100%;
  border-collapse: collapse;

  padding: 8px;
}
.main-table{
  overflow:auto;
  max-height: 400px;
}

thead th {
  position: sticky;
  top: 0px;
}

.no-select {
  user-select: none;
}