
  th {
    background-color: #8d8d8d;
    color: whitesmoke;
    padding: 8px;
  }
  
  td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }
  
  tr:hover {
    background-color: #383838;
  }
  
  a {
    color: lightblue;
  }
  .trader img {
    width: 5rem;
  }

  .no-select {
    user-select: none;
  }